:root {
  box-sizing: border-box;

  /* smoother rendering particularly on macOS systems */
  -webkit-font-smoothing: antialiased;
  font-family: Helvetics, sans-serif;
  font-size: 16px;
}

body {
  margin: 3rem;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

p {
  margin: 0;
}

form {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

input {
  padding: 8px 12px;
  border-radius: 50;
  border: 1px dashed aqua;
  font-size: 1rem;
  width: auto;
}

form button {
  background-color: aqua;
  padding: 8px 12px;
  border-radius: 50;
  border: 1px solid black;
}

form button:active {
  scale: 105%;
}

#div-alert {
  min-width: 50px;
  height: 20px;
  padding: 7px 10px 5px 10px;
  background-color: rgb(237, 118, 255);
  border: 1px dashed aqua;
}
